<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анекдоты!</title>
   <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/style_joke.css') }}">
</head>
<body background = "{{ url_for('static', filename='img/jokes.jpg') }}">
<form action="http://127.0.0.1:5000/login" target="_blank">
   <button class = "submit_button"> Войти в систему</button>
  </form>
<h1>Топ 5 случайных анекдотов</h1>
    {% for anek, id in list_anek %}
        <div class="wrapper">{{ anek }}
        <div class="rating-area">
	<input type="radio" id="star-5{{ id }}"  name="rating" value="5">
	<label for="star-5{{ id }}" title="Оценка «5»"></label>
	<input type="radio" id="star-4{{ id }}" name="rating" value="4">
	<label for="star-4{{ id }}" title="Оценка «4»"></label>
	<input type="radio" id="star-3{{ id }}" name="rating" value="3">
	<label for="star-3{{ id }}" title="Оценка «3»"></label>
	<input type="radio" id="star-2{{ id }}" name="rating" value="2">
	<label for="star-2{{ id }}" title="Оценка «2»"></label>
	<input type="radio" id="star-1{{ id }}" name="rating" value="1">
	<label for="star-1{{ id }}" title="Оценка «1»"></label>
</div>
     </div>
    {% endfor %}
<p><b>Выберите категорию анекдотов, по списку ниже:</b></p>
<form action = '/anekdots/' method="post">
    <div class="wrapper-dropdown" tabindex="1">
<p><select size="1" name="category">
  <option disabled>Категория анекдота</option>
    {% for cat, number in category %}
    <option value={{ number }} > {{cat}} </option>
    {% endfor %}
</select></p>
    </div>
  <p><input class = "submit_button" type="submit" value="Выбрать!"></p>
 </form>
<form action="http://127.0.0.1:5000/new/" target="_blank">
   <button class = "submit_button"> Добавить свой анекдот!</button>
  </form>
    <footer>В базе данных <b>{{ n }}</b> анекдотов.</footer>
</body>
</html>