<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
     <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/style_joke.css') }}">

</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul id="layout" class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<script>
function del () {
const lay = document.getElementById("layout")
const parent = lay.parentNode
parent.removeChild(lay)
}
setTimeout(del, 3000)
</script>
<body background = "{{ url_for('static', filename='img/jokes.jpg') }}">
<h1>Вход в систему</h1>
<form action="" method="post">
  {{ form.csrf_token }}
<table>
    <tr>
        <td align="right"> <b> {{ form.username.label  }} </b> </td>
           <td > {{ form.username}} </td>
  {% for error in form.username.errors  %}
    {{ error }}
  {% endfor %}
</tr>
   <tr>
<td align="right"> <b> {{ form.password.label }} </b> </td>
  <td > {{ form.password}} </td>
  {% for error in form.password.errors  %}
    {{ error }}
  {% endfor %}
</tr>
     <tr>
    <td colspan="2" align="center"> {{ form.remember_me.label }}
        {{ form.remember_me }} </td>
</tr>
  <tr>
      <td colspan="2" align="center"> {{ form.submit(class_="submit_button") }} </td>
     </tr>
    </table>
    </form>
<div class="center">
    <form action="http://127.0.0.1:5000/registration/" target="_blank" >
   <button class = "submit_button">Регистрация</button>
    </form>
    </div>
</body>
</html>